#logo {
  width: 100px;
  height: 100px;
}

#header {
  border: 2px solid green;
  background-color: white;
  z-index: 10;
}

h1 {
  font-weight: bold !important;
}

  .login-reg button {
    margin: 0;
    width: 30% !important;
    text-align: center !important;
  }

  #business {
    width: 35% !important;
  }

  #buttons {
    width: 100%;
  }

  #login-reg {
    width: 100%;
    display: flex;
  }



body {
  background: linear-gradient(45deg, white 0%, white 60%, #b5f5b5 75%, rgb(15, 190, 15) 100%);
  min-height: 100vh;
  margin: 0;
}

#form1, #form2 {
  transition: all 0.4s ease !important;
}

#main-part {
  margin-bottom: 20px;;
}

#footer {
  background-color: rgb(235, 233, 233);
  margin-top: 15%;
  padding-top: 50px;
}

#how-it-works {
  margin-top: 10%;
}


#groutine {
  color: #468546;
}





